@media (max-width: 580px) {
  .cloth__grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 760px) {
  .delivery__info-wrapper {
    flex-direction: column;
  }
  .pay__info {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1000px) {
  .contact__block-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .contact {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 990px) {
  .about__shop-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .about__shop-text {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 637px) {
  .main__contact-wrapper {
    flex-direction: column;
    padding: 0 10px;
  }
  .contact-wrapper-appolo {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 600px) {
  .carusel {
    flex-direction: column;
  }

  .carusel div {
    margin: 15px 0 0 0;
  }
}

@media (max-width: 460px) {
  iframe {
    width: 400px;
  }
}

@media (max-width: 410px) {
  iframe {
    width: 310px;
  }
  .contact-wrapper-most {
    margin: 0;
  }
}

@media (max-width: 520px) {
  .shop {
    flex-direction: column;
  }
}

@media (max-width: 730px) {
  main {
    margin: 90px 0 0 0;
  }
}
